<!DOCTYPE html>
<html lang="en" ng-app="dashboard">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Codeloud - Run and Done</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <link href="css/ball-beat.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/jquery.selectbox.css" type="text/css" rel="stylesheet" />

    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/play_stop.js"></script>
    <script src="js/angular/dashboard.js"></script>

    <!--Morris Chart-->
    <link href="morrisjs/morris.css" rel="stylesheet">    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/sb-admin-2.js"></script>    

    <!--Morris Javascript-->
    <script src="js/raphael-min.js"></script>
    <script src="morrisjs/morris.min.js"></script>
</head>

<body ng-app="Repository">

<div ng-view>
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <% include partials/dashboardheader %>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- page-wrapper -->
        <div id="page-wrapper">
        	<div ng-view>
                <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Core Usage
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="morris-area-chart"></div>
                        </div>
                    </div>
                </div>
                </div>
            </div> <!--end ng-view-->
    </div>  <!-- end page-wrapper -->
</div>    <!--end wrapper-->

   

</body>

<script type="text/javascript">
$(function() {

    Morris.Area({
        
        element: 'morris-area-chart',
        data: [{
            period: '2010 Q1',
            cpu: 2666
        }, {
            period: '2010 Q2',
            cpu: 2778
        }],
        xkey: 'period',
        ykeys: ['cpu'],
        labels: ['Core Usage'],
        pointSize: 2,
        hideHover: 'auto',
        resize: true
    });
});
</script>

</html>
